<!--competences-->
<section class="page-section pt-3 pb-3" id="competence">
    <div class="container mt-5 mb-5">
        <div class="row text-dark">
            <div class="col-md-6 offset-md-3">
                <h2 class="page-section-heading text-secondary text-center">Compétences</h2>
                <ul class="timeline">
                    <li>
                        <a class=" text-dark shadow" >POO PHP</a>
                        <a  class="float-right text-dark shadow">Septembre-2020 Aujourd'hui</a>
                        <p>Apprentissage des bases de la Programation Orienté Objet en PHP dans le but de maitriser Symfony.</p>
                    </li>
                    <li >
                        <a class="text-dark shadow" >POO C#</a>
                        <a  class="float-right text-dark shadow">Janvier-2019 Juin-2019</a>
                        <p>Apprentissage des bases de la Programation Orienté Objet en C# dans le but de pouvoir crée une application. </p>
                    </li>
                    <li>
                        <a class=" text-dark shadow" >PHP</a>
                        <a  class="float-right text-dark shadow">Novembre-2019 Mars-2019</a>
                        <p>Apprentissage des bases du langages PHP afin de rendre un site plus actif. Mis en pratique sur mon portfeuille de compétence, livequestion et d'autres projets.</p>
                    </li>
                    <li>
                        <a class=" text-dark shadow" >Wordpress</a>
                        <a  class="float-right text-dark shadow">Octobre-2019 Novembre-2019</a>
                        <p>Familiarisation avec un CMS. Mis en pratique création d'une épicerie en ligne.</p>
                    </li>
                    <li>
                        <a class="text-dark shadow">HTML5/CSS3</a>
                        <a  class="float-right text-dark shadow">Septembre-2019 Novembre-2019</a>
                        <p>Apprentissage des bases des langages de l'intégration.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="pd-parallax" datasrc="{{ asset('statics/images/projet2.jpg') }}"></div>
