<section class="page-section pt-3 pb-3" id="about">
    <div class="container ">
        <div class="content-parallax">
            <div class="text-center">
                <img  class="img-fluid img-thumbnail shadow img-presentation" src="{{ asset('statics/images/GONCALVES%20LAURA.jpg') }}">
                <h1 class="section-heading text-uppercase tittle-services"> Développeuse Web </h1>
                <p class="section-subheading text-muted">En cours de formation</p>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <i class=" fas fa-graduation-cap description-bloc-icon" ></i>
                    <p class="text-muted">  Baccalauréat scientifique  </p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-home description-bloc-icon"></i>
                    <p class="text-muted"> Vémars 95</p>
                    <p class="text-muted"> Dugny 93</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-car description-bloc-icon "></i>
                    <p class="text-muted"> Permis B</p>
                </div>
            </div>
            <a href="{{ asset('statics/cv/CVLauraGonçalves.pdf') }}" target="_blank"> <button type="button" class=" rounded mx-auto d-block btn btn-light shadow">Télécharger mon CV</button> </a>
        </div>
    </div>
</section>
<div class="pd-parallax" datasrc="{{ asset('statics/images/projet1.jpg') }}"></div>